
.textfield:focused{
    -fx-border-color:#69BFA7;
    -fx-border-width:1.8px;
}

.returnBtn {
    -fx-background-color: #D9AA55;
    -fx-background-radius:50;
}

.returnBtn:hover {
    -fx-background-color: #b68734;
    -fx-border-width: 0px 0px 0px 3px;
}

.validerBtn {
    -fx-background-color:  #18593B;
    -fx-background-radius:50;
}

.validerBtn:hover {
    -fx-background-color: #0c462d;
    -fx-border-width: 0px 0px 0px 3px;
}

.imgBtn {
    -fx-background-color:   #69BFA7;
    -fx-background-radius:50;
}

.imgBtn:hover {
    -fx-background-color: #428f7b;
    -fx-border-width: 0px 0px 0px 3px;
}

.buttonDelete {
    -fx-background-color: #FF0000;
    -fx-background-radius:50;
}

.buttonDelete:hover {
    -fx-background-color: #b43535;
    -fx-border-width: 0px 0px 0px 3px;
}

.navBarBtn {
    -fx-text-fill: #0c462d;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-color: transparent;
}

.navBarBtn:hover {
    -fx-text-fill: #339f6f;
    -fx-background-color: rgba(201, 200, 200, 0.4);
}