.button{
    -fx-background-color:  #343F3E;

}

.button:hover{
    -fx-background-color: #4b5553;
}

.button:pressed{
    -fx-background-color: #7156DD;
}

.table-view .column-header,
.table-view .column-header-background .filter{
    -fx-background-color: #94B0DA;
}

.table-view .column-header .label{
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-alignment: CENTER;
}